.container {
    padding-top: 70px;
}

.iconsize {
    width: 10rem;
    height: 10rem;
}

.logosize {
    height: 50px;
    width: 122px;
}

.buynow-logo{
    height: 15rem;
    width: 15rem;
}

.price
{
    font-weight: 600;
    font-size: 1.8em;
}

.abouttext{
    font-size: 1.6em;
    color:#eeeeee;
}

.aboutbg{
    background-color: #333333;
    color:#eeeeee;
}

.desc{
    font-size: 1.3em;
    font-weight: 300;
}

.ordersuccess{
    font-size: 1.7em;
    color: white;
}

.kbasetitle{
    font-weight: 600;
    font-size:1.2em;
}